body {
    color: #2a2128;
    background: #f4f5f4;
    font: 100% system-ui;
}

h1 {
    color: #2a2128;
}
  
@media (prefers-color-scheme: dark) {
    body {
        color: #f4f5f4;
        background: #2a2128;
    }
  }